<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <h2>Bienvenido!</h2>
    </header>

    <section>
        <h4>Mis datos</h4>
        <p>Nombre: <%= nombre %> <br>
           Cédula: <%= ci %> <br>
           Sección: <%= secc %> 
        </p>
    </section>
</body>
</html>