<!DOCTYPE html>
<html>
<head>
  <title>Información de compras</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Información de compras</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Nombre del producto</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < compras.length; i++) { %>
          <tr>
            <td><%= compras[i].name %></td>
            <td><%= compras[i].nombre %></td>
            <td><%= compras[i].cantidad %></td>
            <td><%= compras[i].total %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>