.item-img {
    height: 340px;
    width: 300;
    object-fit: cover;
    display: flex;
}

.container-item {
  
    object-fit: cover;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 5px;
}


.list-view .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}


.form-login {
    width: 200px;
}

p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  p.clasificacion input {
    position: absolute;
    top: -100px;
  }
  
  p.clasificacion label {
    float: right;
    color: #333;
  }
  
  p.clasificacion label:hover,
  p.clasificacion label:hover ~ label,
  p.clasificacion input:checked ~ label {
    color: #dd4;
  }